<ul>
    <li>@Html.ActionLink("KO Test","ko")</li>
    <li>@Html.ActionLink("KO table Test","koTable")</li>
    <li>@Html.ActionLink("jQuery template table test","jqueryTmplTable")</li>
    <li>@Html.ActionLink("Razor Test","Razor")</li>
</ul>