<script id="Inner" type="text/html">
<div data-bind="text: inner2"></div>
</script>

<script id="Outer" type="text/html">
<div data-bind="text: vInner"></div>

<div id="ddd" data-bind='template:{ name: "Inner", foreach: innerList }' >
</div>

</script>



<div data-bind="text: vOuter"></div>
<div id="ddd" data-bind='template:{ name: "Outer", foreach: items }' >
</div>

<script src="/Scripts/ko.js" type="text/javascript"></script>
