<table>
<tbody>
@for (int ii = 0; ii < 200; ii++)
{
    <tr>
        <td>
            @ii
        </td>
        <td style="width: 80pt">
            BBB
        </td>
        <td style="width: 80pt">
            XXXXX
        </td>
        <td style="width: 160pt">
            <span>As a user, the user can do something so that somthing else is done</span>
        </td>
        <td style="width: 40pt">
        </td>
        <td>
            <input type="number" step="0.1"  />
        </td>
        <td>
            <input type="number" step="0.1"  />
        </td>
        <td>
            <input type="number" step="0.1"  />
        </td>
        <td>
            <input type="checkbox" tabindex="-1" />
        </td>
        <td>
            <a href="#" class="ebtn" title="edit" tabindex="-1"></a>
        </td>
        <td>
            <a href="#" class="cpybtn" title="clone" tabindex="-1">clone</a>
        </td>
        <td>
            <a href="#" class="xbtn" title="remove" tabindex="-1" style="display: none;">×</a>
        </td>
    </tr>
}
</tbody>
</table>